@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-Light_Web.woff2) format('woff2'),
    url(./fonts/Gotham-Light_Web.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-LightItalic_Web.woff2) format('woff2'),
    url(./fonts/Gotham-LightItalic_Web.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}
*/
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-Book_Web.woff2) format('woff2'),
    url(./fonts/Gotham-Book_Web.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-BookItalic_Web.woff2) format('woff2'),
    url(./fonts/Gotham-BookItalic_Web.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-Medium_Web.woff2) format('woff2'),
    url(./fonts/Gotham-Medium_Web.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-MediumItalic_Web.woff2) format('woff2'),
    url(./fonts/Gotham-MediumItalic_Web.woff) format('woff');
  font-weight: 500;
  font-style: italic;
}
*/
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-Bold_Web.woff2) format('woff2'),
    url(./fonts/Gotham-Bold_Web.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-BoldItalic_Web.woff2) format('woff2'),
    url(./fonts/Gotham-BoldItalic_Web.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-Ultra_Web.woff2) format('woff2'),
    url(./fonts/Gotham-Ultra_Web.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url(./fonts/Gotham-UltraItalic_Web.woff2) format('woff2'),
    url(./fonts/Gotham-UltraItalic_Web.woff) format('woff');
  font-weight: 900;
  font-style: italic;
}
*/
